*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Dejavu;
  padding: 2px;
  font-size: 18px;
  line-height: 1.1;
}

h1{
  font-family: NAMU-1930;
  padding: 2px;
  font-size: 36px;
}

img{
  width: -webkit-fill-available;
}

.katalog-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.vertical-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.horizontal-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card img {
  width: 100%;
  display: block;
}