*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Dejavu;
  padding: 2px;
  font-size: 18px;
  line-height: 1.1;
}

h1{
  font-family: NAMU-1930;
  padding: 2px;
  font-size: 36px;
}

img{
  width: -webkit-fill-available;
}

.katalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}